#icon {
  display: inline;
  float: left;
  margin-left: 55px;
  padding-top: 20px;
}

#line {
  width: 255px;
  height: 0.5px;
  background-color: white;
  margin-left: 140px;
  margin-top: 45px;
  float: left;
}

#navbar a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  color: white;
  display: inline;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 2px;
}

#navbar a:hover,
a.active {
  border-bottom: 3px solid rgba(255, 255, 255, 0.342);
}

#navbar ul {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.068);
  width: 700px;
  float: right;
  backdrop-filter: blur(30px);
}

#navbar li {
  float: right;
  position: relative;
}

#navbar .text {
  font-size: 16px;
  display: inline-block;
  font-weight: lighter;
}

.number {
  font-weight: bold;
  font-family: "barlow condensed", sans-serif;
}

.text1 {
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: "barlow condensed", sans-serif;
  font-weight: 200;
}

#text {
  float: left;
  width: 450px;
  margin-left: 165px;
  margin-top: 187px;
}

h1 {
  font-family: "Trajan",;
  font-size: 150px;
  font-weight: 250;
  color: white;
  margin: 0;
}

h5 {
  font-size: 20px;
  letter-spacing: 6px;
  color: #d0d6f9;
  font-family: "barlow condensed", sans-serif;
  font-weight: light;
  font-weight: 300;
}

p {
  font-family: "Barlow condensed", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 32px;
  max-width: 450px;
  color: #d0d6f9;
  margin-bottom: 60px;
}

#explore {
  font-family: "Trajan Pro,";
  background-color: white;
  color: #0b0d17;
  border: none;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  font-size: 32px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  float: right;
  margin-right: 130px;
  margin-top: 25%;
}

#body1{
  background: url(assets/home/background-home-desktop.jpg) no-repeat center center fixed;
  margin-right: 0px;
}

/* CSS FOR DESTINATION*/
#navbar2 a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  color: white;
  display: inline;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 2px;
}

#navbar2{
  float:right;
}

#navbar2 a:hover,
a.active {
  border-bottom: 3px solid white;
}

#navbar2 ul {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
  width: 700px;
  float: right;
}

#navbar2 li {
  float: right;
  position: relative;
}

#navbar2 .text {
  font-size: 16px;
  display: inline-block;
  font-weight: lighter;
}

.number2{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.text2{
  font-size: 24px;
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
}
#text3{
  font-family: "barlow condensed" , sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}
#line2{
  width: 445px;
  height: 0.5px;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 30px;
}

#mymoon{
  margin-top: 193px;
  margin-right: 50px;
  margin-left: 180px;
  width: 445px;
}
#contain{
  width: 445px;
  height: 272px;
  float: right;
  margin-right: 100px;
  margin-top: 150px;
}
#body2{
  background: url(assets/destination/background-destination-desktop.jpg) no-repeat center center fixed;
  margin-right: 0px;
  color: white;
}



